:root {
  --shadow: 0 0.0625rem 0.5rem 0 #000a;
  --grid-size: 30rem;
  --gap: 1rem;
  --color-bg: #c2baa0;
  --color-tile: #363232;
  --color-tile-symbol: #f1e7c3;
  --color-highlight: #bf6044;
  --color-transparent: #2220;
}

#pole {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.5rem;
  width: var(--grid-size);
  height: var(--grid-size);
}
#pole div {
  display: flex;
  border: black 1px solid;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  background-color: var(--color-tile);
  color: var(--color-tile-symbol);
  font-size: 5rem;
  box-shadow: var(--shadow);
  font-family: "Fredoka One";
  transition: transform 0.5s, color 0.1s linear 0.1s;
}
#pole div:hover {
  filter: brightness(1.5);
  transform: scale(1.07);
}

body {
  align-items: center;
  margin: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  background-color: var(--color-bg);
  font-family: "Fredoka One";
}
#container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
  margin: auto;
  padding: 1rem;
  width: fit-content;
  min-height: 90vh;
  box-sizing: border-box;
  gap: var(--gap);
}
#title {
  display: flex;
  justify-content: center;
}
#display {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 2rem;
  font-family: "Fredoka One";
  background-color: var(--color-tile);
  color: var(--color-tile-symbol);
  padding: 0.25rem;
}
#div-reset {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: var(--color-tile);
  height: fit-content;
  padding: 0.25rem;
}
#reset {
  font-family: "Fredoka One";
  background-color: var(--color-tile-symbol);
  font-size: 2rem;
  color: var(--color-tile);
}
#reset:hover {
  filter: brightness(1.5);
  transform: scale(1.07);
}
.flip {
  color: var(--color-tile-symbol);
  transform: rotateY(180deg);
  cursor: default;
}
#pole div.flip:hover {
  transform: scale(1.07) rotateY(180deg);
}
